<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <h1>Categories</h1>
  <main>
    <% categories.forEach(category => { %>
    <a href="/categories/<%= category.id %>">
      <div><%= category.category_name %></div>
    </a>
    <% }) %>
  </main>
</body>

</html>