<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <h1>Update product</h1>
    <form action="/update/<%= id %>" method="POST">
        <label for="instrument_name">Instrument name</label>
        <input type="text" name="instrument_name" id="instrument_name">
        <label for="brand_id">Brand</label>
        <select name="brand_id" id="brand_id">
            <% brands.forEach(brand => {%>
                <option value="<%= brand.id %>">
                    <%= brand.brand_name %>
                </option>
            <%}%>
        </select>
    </form>
</body>
</html>